.game-result-screen {
  height: 100vh;
  background: linear-gradient(to bottom, #69779B,  #8090a4);
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;  
}

.trophyimage1 {
  position: absolute;
  right: 0;
  top: 35%;
  margin-right: 8%;
  height: 300px;
  width: 300px;
}

.trophyimage {
  position: absolute;
  top: 35%;
  margin-left: 6% ;
  height: 300px;
  width: 300px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  border: 10px solid#11324C;
  position: absolute;
  height: 100px;
  width: 120px;
  top: 0;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo h2 {
  font-size: 22px;
  color: #11324C;
  margin: 0;
}

.stars {
  display: flex;
  justify-content: center;
}

.star {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.wrap {
  position: relative;
  background-color: white;
  border: 10px solid #11324C;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.team-ranking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
  width: 250px;
  background-color: #f0eee9;
  padding: 10px;
  border-radius: 10px;
}

.overall-ranking {
  display: flex;
  width: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
  background-color: #f0eee9;
  padding: 10px;
  border-radius: 10px;
}

.ranking-item {
  display: block;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 10px;
}

.ranking-number { 
  border-radius: 5px;
  color: white;
  background-color: #11324C;
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  border: 5px solid #11324C;
}
.ranking-item1{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개의 열을 만들고 각각 동일한 너비를 줍니다 */
  grid-template-rows: repeat(5, auto); /* 5개의 행을 자동 높이로 만듭니다 */
  gap: 10px;
  margin-top: 160px;
  margin-bottom: 10px;
  grid-auto-flow: column; 
  
}
.ranking-icon img {
  width: 30px;
  height: 30px;
}

.footer {
  text-align: center;
}

.home-button {
  margin-top: 30px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vh;
  background-color: #11324C;
  color: #fff;  
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}