.container {
  display: flex;
  height: 100vh;
  background: linear-gradient(#a4b2c8, #8292a5);
  flex-wrap: wrap;
}

.leftcontainer {
  position: relative;
  width: 30%;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  margin-right: 6.5%;
  margin-left: 3.5%;
  margin-top: 1vh;
}

.profile {
  position: relative;
  margin-left: 1.5vw;
  background: linear-gradient(#bdcfe4, #d1e0f0);
  margin-top: 1.9vh;
  border-radius: 50%;
  border: 3.2px solid rgb(131, 158, 192);
  box-shadow: 0 0 0 3px #539cf0, 0 0 0 6px #6d7c8e;
  overflow: hidden;
  width: 10.5vw;
  min-width: 130px;
  min-height: 130px;
  height: 18vh;
  z-index: 3000;
}

.profile img {
  width: 95%;
  height: 95%;
  margin-left: 2.5%;
  margin-top: 7%;
  z-index: 3000;
}

.profile_name {
  letter-spacing: 0.7vw;
  position: relative;
  line-height: 5.5vh;
  margin-top: -14.3vh;
  font-size: calc(2.2vh + 1.2vw);
  background: linear-gradient(#4088c0, #61a7dc);
  width: 25vw;
  min-width: 300px;
  margin-left: 6.5vw;
  height: 6vh;
  padding-left: 3vw;
  font-weight: 900;
  color: rgb(236, 244, 252);
  -webkit-text-stroke: 1.4px #11324D;
  z-index: 2000;
  border-radius: 40px 60px / 50px 30px;
  border: 2px solid rgb(131, 158, 192);
  box-shadow: 0 0 0 3px #bcbcbc, 0 0 0 5px #6d7c8e;
}

.profile_timer {
  position: relative;
  margin-top: -3vh;
  margin-left: 8vw;
  font-size: calc(1.6vh + 0.6vw);
  width: 20vw;
  min-width: 250px;
  height: 8.5vh;
  padding-right: 3vw;
  background: linear-gradient(white, rgb(212, 212, 212));
  text-align: right;
  border-style: solid;
  border: 2.5px solid #dbdbdb;
  box-shadow: 0 0 0 2.5px #b8b8b8, 0 0 0 4.5px #686868;
  color: rgb(58, 58, 58);
  line-height: 11.5vh;
  font-weight: 900;
  z-index: 1000;
  border-radius: 60px 25px / 35px 50px;

  @media (max-width: 1300px) {
    font-size: calc(1.6vh + 0.5vw);
  }
}

.rankbox {
  margin-top: 10vh;
  height: 62vh;
  width: 75%;
  margin-left: 19%;
  border-radius: 0.5vh;
  background: linear-gradient(#bbd0eb, #94b3dc);
  border: 3.5px solid #11324C;
  box-shadow: 1px 3px 1px #24455f;
}

.rankbox_title {
  font-size: calc(1.6vh + 1.1vw);
  width: 90%;
  margin-left: 5%;
  border-bottom: 0.4vh solid #11324C;
  height: 9vh;
  line-height: 9vh;
  font-weight: 900;
  color: #0d1922;
}

.rankbox_num {
  letter-spacing: 0.2vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #11324D;
  border-radius: 47%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: calc(1.4vh + 1.2vw);
  background-color: rgb(250, 237, 214);
}

.rankbox div p {
  letter-spacing: 0.35vw;
  margin-top: 3%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #11324D;
  border-radius: 3vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(237, 237, 237);
}

.rankbox_first {
  justify-content: space-around;
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
  width: 86%;
  height: 8vh;
  line-height: 2vh;
  font-weight: bold;
  font-weight: 600;
  margin-top: 6vh;
  font-size: calc(1.1vh + 1vw);
}

.rankbox_second {
  justify-content: space-around;
  display: flex;
  margin-left: 6%;
  margin-right: 7%;
  width: 86%;
  height: 8vh;
  line-height: 2vh;
  font-weight: bold;
  font-weight: 600;
  margin-top: 7vh;
  font-size: calc(1.1vh + 1vw);
}

.rankbox_third {
  justify-content: space-around;
  display: flex;
  margin-left: 5%;
  margin-right: 7%;
  width: 86%;
  height: 8vh;
  line-height: 2vh;
  font-weight: bold;
  font-weight: 600;
  margin-top: 7vh;
  font-size: calc(1.1vh + 1vw);
}

.rightcontainer {
  width: 60%;
  display: flex;
  text-align: center;
  display: inline-block;
}

.wordbox {
  margin-top: 9vh;
  width: 90%;
  height: 75vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 1vh;
  grid-row-gap: 14px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2vh;
  padding-top: 2vh;
  font-size: calc(1vh + 0.9vw);
  border: 1.5px solid #2d4567;
  box-shadow: 0 0 0 1px #3b557a, 0 0 0 2px #455e82, 0 0 0 3px #536d92, 0 0 0 4px #6d86a8, 0 0 0 5px #7e95b6, 0 0 0 6px #7e95b6, 0 0 0 7px #8ea1bc, 0 0 0 8px #9aaac0, 0 0 0 1.5px #9dadc4;
  background: linear-gradient(#f4ece1, #f9f4ea);  
  border-radius: 1%;

  @media (max-height: 710px){
    font-size: calc(0.6vh + 0.85vw);
    padding-top: 8px;
  }

  @media (max-width: 1300px) {
    font-size: calc(1vh + 0.75vw);
  }
}

.text {
  height: auto;
  letter-spacing: 0.1vw;
  background-color: #f9f8f4;
  color: #293643;
  border: 3px solid #293643;
  text-decoration: none;
  border-radius: 0.4vh;
  padding-top: 0.2vh;
  padding-bottom: 0vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  font-weight: 800;
  font-family: 'Cafe24Ssurround';
}

.inputbox input {
  height: 5vh;
  border-radius: 1vh;
  margin-top: 5vh;
  width: 60%;
  margin-right: 10%;
  text-align: center;
  font-size: 2.8vh;
}