.lg-container {
  display: flex;
  min-height: 100vh;
  background-color: #bed7ff;
  position: relative;
  user-select: none;
}

.lg-leftcontainer {
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.lg-title {
  margin-left: 10%;
  position: absolute;
  top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5vh;
  width: 80%;
  height: 10vh;
  font-size: 4vh;
  background-color: #c9ddfd;
  box-shadow: 0 0 20px #c9ddfdc0;
  z-index: 2;
}

.lg-title img {
  height: 8vh;
  margin-left: 0.5vw;
}

.lg-title h1 {
  color: #f4f8ff;
  -webkit-text-stroke: 2px #1a2a6c;
  font-size: calc(2.7vh + 2.7vw);
  font-weight: 900;
}

.lg-title div {
  color: #f4f8ff;
  -webkit-text-stroke: 1px #1a2a6c;
  font-size: calc(1vh + 1vw);
  font-weight: 900;
}

.lg-rule {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  height: 60vh;
  width: 80%;
  color: #1a2a6c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  padding: 1%;
}

.lg-rule li {
  font-family: arial;
  list-style: "✔ ";
  padding-left: calc(1vh + 1vw);
  text-indent: calc(-1.1vh + -1vw);
  font-size: calc(1vh + 1vw);
  line-height: calc(1.55vh + 1.55vw);
  text-align: justify;
}

.lg-rule strong {
  color: #165a9e;
  font-size: calc(1.1vh + 1.1vw);
}

.lg-rule span {
  color: rgb(225, 43, 43);
  font-weight: 600;
  font-size: calc(1.1vh + 1.1vw);
}

.lg-rightcontainer {
  margin-left: 3%;
  width: 42%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.lg-rightcontainer-back {
  position: fixed;
  width: 60vw;
  height: 200vh;
  background-color: #5572a0;
  transform: rotate(13deg);
  z-index: -1;
  right: -15vw;
  box-shadow: 0 0 20px rgba(0, 56, 86, 0.5);
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 65%;
  height: 60%;
  padding-left: 4vw;
  padding-right: 4vw;
  background: white;
  border-radius: 0.7vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-form input {
  width: 100%;
  padding: 1vh;
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 2px solid #cccccc;
  font-size: calc(0.7vh + 0.7vw);
  outline: none;
  transition: border-color 0.3s ease;
}

.login-form input:focus {
  border-color: #265fb9;
}

.lg-error {
  position: absolute;
  top: 50%;
  color: rgb(227, 16, 16);
  font-size: calc(0.6vh + 0.6vw);
  font-family: "arial";
}

.login-button {
  margin-top: 3vh;
  margin-bottom: 2vh;
  width: 100%;
  height: 8%;
  padding: 1vh;
  background-color: #335c9e;
  color: white;
  border: none;
  border-radius: 1vh;
  font-size: calc(0.75vh + 0.75vw);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 400;
}

.login-button:hover {
  background-color: #2b4b7f;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.login-button:active {
  background-color: #335c9e;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}

.lg-or {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 1.5px;
}

.signup-button {
  margin-top: 2vh;
  width: 100%;
  height: 8%;
  padding: 1vh;
  background-color: white;
  color: #335c9e;
  border: 2px solid #335c9e;
  border-radius: 1vh;
  font-size: calc(0.65vh + 0.65vw);
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 600;
}

.signup-button:hover {
  color: #2b4b7f;
  border: 2px solid #2b4b7f;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.signup-button:active {
  color: #335c9e;
  border: 2px solid #335c9e;
  box-shadow: none;
  transition: all 0.1s ease;
}

.lg-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 100;
  width: 30vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vh;
}

.lg-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.lg-modal-content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.lg-modal-content h2 {
  color: #1a2a6c;
  font-family: "arial";
  font-size: calc(1.2vh + 1.2vw);
}

.lg-modal-content span {
  font-weight: 900;
  font-size: calc(1.6vh + 1.6vw);
  color: #f1f5fe;
  -webkit-text-stroke: 1.3px #1a2a6c;
  font-family: "VITRO";
  position: relative;
  top: -0.4vh;
}

.lg-modal-content input {
  width: 80%;
  height: 4.5vh;
  font-size: calc(0.65vh + 0.65vw);
  outline: none;
  padding-left: 2vh;
  border: 1.7px solid #bdbdbd;
  border-radius: 5px;
  margin-bottom: 4vh;
}

.lg-modal-content input:focus {
  box-shadow: 0 0 7px #2559ad;
  border: none;
}

.lg-modal-content button {
  width: 40%;
  height: 4vh;
  background-color: #335c9e;
  color: white;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  font-size: calc(0.6vh + 0.6vw);
}

.lg-modal-content button:hover {
  background-color: #2b4b7f;
}

.lg-modal-content button:last-child {
  position: absolute;
  font-family: "Cafe24Ssurround";
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  right: 2vw;
  top: 3vh;
  background: none;
  border: none;
  color: #1a2a6c;
  cursor: pointer;
}

.lg-modal-content button:hover:last-child {
  color: #0f183d;
}
